body{
    font-family: 'Poppins', sans-serif;
    background-image: url("./minionbg.jfif");
    background-size: cover;
    background-position: center;
}
.navbar{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    padding: 2%;
    color: white;
}
p{
    color: white;
    font-size: 1.3rem;
}
.textbox{
    margin: 3%;
    font-size: 1.5rem;
    height: 100px;
    width: 600px;
    font-weight: bold;
    font-style: italic;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background: rgba(255, 255, 255, 0.486);
    color: darkgreen;
}
button{
    font-family: 'Poppins', sans-serif;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    font-size: 1.05rem;
}
button:hover{
    background: rgba(255, 255, 255);
    color: darkgreen;
    transition-duration: 0.5s;
    cursor: pointer;
}
.output{
    width: 600px;
    height: 100px;

}